.connect-container h1{
    font-size: 3em;
    text-transform: uppercase;
    margin-bottom: 5px;
    margin-top: 50px;
    text-align: center;
}

.connect-container hr{
    margin: 5px auto;
    width: 20em;
    height: 5px;
    background-color: rgb(35, 152, 184);
    border: none;
    border-radius: 10px;
}

.connect-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: rgba(24, 33, 12, 0.13);
    border-radius: 8px;
}

.connect-container .field{
    margin: 10px;
}

.connect-container .field input{
    width: 400px;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 8px;
}

.connect-container .field .button{
    transition-duration: 0.4s;
    width: 200px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid;
    background-color: black;
}