.contact-card {
    margin: 50px 100px;
    padding: 30px;

    width: 85vw;

    border: 1px solid rgba(35, 152, 184, 0.4);
}

.contact-card>.inline {
    justify-content: space-between;
}

.contact-card .inline {
    align-items: end;
}

.contact-card h1 {
    font-size: 22px;
}

.contact-card h2 {
    font-size: 18px;
    margin-right: 20px;
    color: lightgray;
}

.contact-card p {
    font-size: 15px;
}