.formulaire {
    box-sizing: border-box;
    color: white;
}

.formulaire .titleform{
    margin-bottom: 30px;
}

.formulaire .titleform h1{
    font-size: 3em;
    text-transform: uppercase;
    margin-bottom: 5px;
    text-align: center;
}

.formulaire .titleform hr{
    margin: 8px auto;
    width: 35em;
    height: 3px;
    background-color: rgba(35, 152, 184,1);
    border: none;
    border-radius: 10px;
}

.formulaire .container{
    display: block;
    padding-bottom: 50px;
}

.formulaire .container  form{
    max-width: 700px;
    margin:auto;
}


.container .input-group-text{
    flex: 50%;
    padding:0 20px 0;
}

.formulaire .input-box {
    color: white;
    flex: 1;
    /* field styles */
    width: 100%;
    height: 50px;
    margin-bottom: 30px;
    font-size: 16px;
    background: rgb(20, 20, 20);
    border-radius: 3px;
    border: none;
}


.formulaire .submit-btn{
    margin-top: 30px;
    height: 50px;
    background-color: black;
    color: white;
    border:1px solid rgb(35, 152, 184);
    font-size: 16px;
    width: 100%;
    padding:0 100px;
    transition: 0.3s;
    cursor: pointer;
}

.formulaire .container .submit-btn:hover{
    background-color:rgb(35, 152, 184);
    border-radius: 25px;
}


.formulaire .input-box .date{
    text-align: center;
}

.formulaire .input-box.desc {
    height: 100px;
    resize: none;
}
@media(max-width: 1000px) {
    .row{
        flex-direction: column;
    }
}

@media(max-width: 836px) {
    #check{
        height: 70px;
    }
}

.label-file {
    text-align: center;
    padding: 10px 0;

    width: 250px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;

    border:1px solid rgb(35, 152, 184);
}

.label-file:hover {
    background-color:rgb(35, 152, 184);
    border-radius: 25px;
}

.input-file {
    display: none;
}

.formulaire .inline {
    justify-content: space-between;
    width: 100%;
}