.adminlist {
    width: 80vw;

    margin-top: 50px;

    flex-direction: row;
    flex-wrap: wrap;
}

.adminlist .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    transition-duration: 0.5s;
    list-style: none;
    background-color: rgb(20, 20, 20);

    padding: 25px;
    margin: 15px;

    min-width: 250px;
    height: 350px;

    border-radius: 10px;
}

.adminlist .card:hover {
    background-color: rgb(70, 70, 70);

    box-shadow: rgba(35, 152, 184, 0.4) 5px 5px, rgba(35, 152, 184, 0.3) 10px 10px, rgba(35, 152, 184, 0.2) 15px 15px, rgba(35, 152, 184, 0.1) 20px 20px, rgba(35, 152, 184, 0.05) 25px 25px;}
