.content {
    min-height: calc(95vh - 50px);
    width: 100%;
    padding: 50px 0 0 0;
}


.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inline {
    display: flex;
    flex-direction: row;
}

.content .button {
    color: white;
    font-weight: normal;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 2px solid rgb(35, 152, 184);

    min-height: 40px;
    min-width: 150px;

    padding: 0 20px;

    margin: 5px;

    transition-duration: 0.4s;
}

.content .button:hover {
    background-color: rgb(35, 152, 184);
    box-shadow: rgba(0, 0, 0, 0.3) 0 19px 38px, rgba(0, 0, 0, 0.22) 0 7px 12px;
    border-radius: 25px;
}

.content .button.red {
    border-color: red;
}

.content .button.red:hover {
    background-color: red;
}


@media (max-width: 1250px) {
    .content {
        min-height: calc(100vh - 125px);
        padding: 0;
    }
}