/* mockup code */

a.file {
    display: inline-block;
    height: 200px;
    line-height: 200px;
    margin: 20px;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 200px;
}

a.file span {
    background: rgb(35, 152, 184);
    border-radius: 16px;
    color: #ffffff;
    display: inline-block;
    font-size: 44px;
    font-weight: 700;
    line-height: normal;
    padding: 20px 40px;
    position: relative;
    text-transform: uppercase;
    z-index: 1;
}

a.file span:last-child {
    margin-left: -80px;
}

a.file:before,
a.file:after {
    border: solid 12px rgb(35, 152, 184);
    border-radius: 16px;
    content: '';
    display: block;
    height: 140px;
    left: 50%;
    margin: -68px 0 0 -48px;
    position: absolute;
    top: 50%;
    /*transform:translate(-50%,-50%);*/
    
    width: 100px;
}

a.file:hover:before,
/*a:before{transform:translate(-30%,-60%);}*/

a.file:before {
    margin: -92px 0 0 -20px;
}

a.file:hover {
    border-color: #9fb4cc;
}

a.file:active {
    background: #dae0e8;
    box-shadow: inset 0 8px 8px rgba(0, 0, 0, .25);
}

a.file span:first-child {
    display: none;
}

a.file:hover span:first-child {
    display: inline-block;
}

a.file:hover span:last-child {
    display: none;
}
/* custom code for the demo */