footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 5vh;

    background-color: rgb(15, 15, 15);
}

footer p {
    font-size: 15px;
}

footer img {
    height: 4vh;
    opacity: 0.4;
}

@media (max-width: 1250px) {
    footer {
        width: 104%;
    }
}