header {
    position: fixed;
    top: 0;

    padding: 0 20px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 50px;

    background-color: rgba(20, 20, 20, 0.9);
    border-bottom: solid 0.2vh rgb(35, 152, 184);

    z-index: 10;
}

header * {
    transition-duration: 0.3s;
}

header .pages {
    height: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
}

header .pages a {
    height: 100%;
    width: 200px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 15px;
}

header a h2, header a h1 {
    color: white;
}

header a:hover h2, header a:hover h1 {
    color: rgb(35, 152, 184);
}

header a:nth-child(1) img {
    height: 0;
}

@media (max-width: 1250px) {
    header {
        position: unset;
        height: 125px;
    }

    header a:nth-child(1) img {
        height: 100px;
    }

    header a:nth-child(1) h1 {
        font-size: 0;
    }

    header .pages a {
        font-size: 18px;
    }
}