html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    text-align: center;
    color: white;

    margin: 0;
    font-family: ff-zwo-web,arial, sans-serif;

    width: 100%;

    background-color: black;
}

p, h1, h2, a {
    text-align: center;
    color: white;
}

p, a {
    font-size: 15px;
}

h1 {
    font-size: 25px;
}

h2 {
    font-size: 18px;
}

a {
    color: dodgerblue;
    text-decoration: none;
}

hr {
    border: 1px solid rgb(35, 152, 184);
    border-radius: 1px;
    width: 80%;
}

.carousel {
    margin-bottom: 5%;
}

.carousel-cell {
    padding: 15%;
}


.card video {
    max-height:50%;
}

.carousel video {
    max-width: 50vw;
    max-height: 50vh;
}