.about {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    min-height: calc(95vh - 90px);

    margin: 20px;
}

.formulaire img {
    height: 60px;
}

.about>div {
    max-width: 70%;
}

.about img {
    max-height: 60vh;
    max-width: 40vw;
    margin: 100px;
}

.about p {
    font-size: 26px;
    text-align: justify;
}

.about h1 {
    font-size: 60px;
    text-align: center;
}

@media (max-width: 1250px) {
    .about {
        flex-direction: column-reverse;
    }

    .about img {
        max-height: 80vh;
        max-width: 70%;
        margin-right: 40px;
    }
}