@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,900&display=swap');

.pane {
    height: 120vh;
    font-family: 'Poppins', sans-serif;
}
.pane:nth-child(2) {
    background-color: darkred;
}
.pane:nth-child(3) {
    background-color: darkblue;
}
.pane:nth-child(4) {
    background-color: purple;
}

.pane h1 {
    text-align: center;
    color: rgb(35, 152, 184);
    font-size: 100px;
    letter-spacing: 8px;

    transition-duration: 2s;
}

.pane:hover h1 {
    text-shadow: -5px 5px 0 rgb(255, 255, 255),
    -10px 10px 0 rgb(31, 193, 27),
    -15px 15px 0 rgb(255, 255, 255),
    -20px 20px 0 rgb(255, 217, 19),
    -25px 25px 0 rgb(255, 255, 255),
    -30px 30px 0 rgb(255, 156, 85),
    -35px 35px 0 rgb(255, 255, 255),
    -40px 40px 0 rgb(255, 85, 85);
    transform: translate(20px, -20px);
}

.pane .button {
    height: 50px;
    width: 300px;
    font-size: 30px;
}

.pane .button:hover {
    border-radius: 25px;
}

@media (max-width: 1250px) {
    .pane h1 {
        text-shadow: -5px 5px 0 rgb(255, 255, 255),
        -10px 10px 0 rgb(31, 193, 27),
        -15px 15px 0 rgb(255, 255, 255),
        -20px 20px 0 rgb(255, 217, 19),
        -25px 25px 0 rgb(255, 255, 255),
        -30px 30px 0 rgb(255, 156, 85),
        -35px 35px 0 rgb(255, 255, 255),
        -40px 40px 0 rgb(255, 85, 85);
        transform: translate(20px, -20px);
    }

    .pane .button {
        height: 100px;
        width: 600px;
        font-size: 60px;
    }

    .pane .button:hover {
        border-radius: 50px;
    }
}

.pane:nth-child(1) h1 {
    color: white;
    text-shadow: none;
}

.pane:hover:nth-child(1) h1 {
    text-shadow: none;
    transform: none;
}