.list {
    width: 80vw;

    margin: 50px 0;

    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    transition-duration: 0.5s;
    list-style: none;
    background-color: rgb(20, 20, 20);

    padding: 25px;
    margin: 15px;

    width: 400px;
    height: 600px;

    overflow: hidden;

    border-radius: 20px;
}

.card:hover {
    background-color: rgb(70, 70, 70);

    box-shadow: rgba(35, 152, 184, 0.4) 5px 5px, rgba(35, 152, 184, 0.3) 10px 10px, rgba(35, 152, 184, 0.2) 15px 15px, rgba(35, 152, 184, 0.1) 20px 20px, rgba(35, 152, 184, 0.05) 25px 25px;
}

.card img {
    width: 100%;
    height: 40%;
    object-fit: cover;
    border-radius: 10px;
}

.card .top {
    max-height: 60%;
    overflow-y: auto;
}

.admin .card .top {
    max-height: 40%;
}

.card i {
    font-size:36px;
    color: rgb(35, 152, 184);
}
