@import url('https://fonts.googleapis.com/css?family=Montserrat:900i&display=swap');

.description {
    text-align: center;
}

.title h1{
    font-size:120px;
    letter-spacing:0.1em;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: white;
    text-shadow:
            6px 6px rgb(35, 152, 184),
            12px 12px rgb(20, 20, 20);
}